*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
.header,
.hero{
    padding: 1vw 15vw 8vw;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    padding:1vw
}

.header,
.hero,
.footer{
   background-color: #1F2937; 
}

.quote{
    padding: 5vw 20vw;
    background-color: #E5E7EB;
}
.logo,
.main,
button{
    color: #F9FAF8;
}
.secondary,
a{
    font-size: 18px;
}
.secondary,
.footer,
a{
    color: #E5E7EB;
}
.hero .main{
    font-size: 48px;
    font-weight: 900;
}
.logo{
    font-size: 24px;
}
button,
.action{
    background-color: #3882F6;
}
.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-self: center;
    padding: 4vw 0;
}
.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}
.author{
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    justify-self: end;
}
.illustration{
    border: 5px solid #3882F6;
    border-radius: 10%;
    width: 10vw;
    height: 10vw;
}
.image{
    display: flex;
    background-color: grey;
    color: #E5E7EB;
    height: 15vw;
    width: 40vw;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    width:inherit;
    justify-content: space-between;
}
.card{
    justify-content: center;
    width: min-content;
    text-align: center;
}
.information{
    padding: 0vw 18vw 5vw;
}
.action{
    display: flex;
    margin: 8vw 16vw;
    padding: 4vh 8vw;
    border-width: 1vw;
    border-radius: 10px;
    justify-content: space-between;
}
.action .main{
    font-size: 24px;
    font-weight: 900;
}
button{
    padding: 0.5vw 2vw;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
}
.action button{
    border: 5px solid #E5E7EB;
}
.footer{
    text-align: center;
    padding: 0.5vw;
}